.auth-form-container {
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 32px;
  transform: translateY(10%);
}
.image-container {
  display: flex;
  justify-content: center;
}
.image-container img {
  width: 100px;
  border-radius: 50%;
}
